  <div class="container">
    <div class="row">
      <div class="col-auto mx-auto">
        <h1><p class="text-center">About</p></h1>
        <p>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br>
        様々なバリエーションをご⽤意しております。</br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。</br>
        ぜひご注⽂ください。</br>
        </p>
      </div>
    </div>
  </div>