
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>Welcome to test view
      </h1>
        <p>In <i class="fas fa-book"></i><strong>Bookers,</strong>
        <p>you can share and exchange your opinions , inpressions ,and emotions<br>
        <br>about various books!</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to"Log in",new_customer_session_path,class:"btn btn-info btn-sm btn-block mb-3 sign_in " %>
          <%= link_to"Sign Up",new_customer_registration_path,class:"btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </div>
  </div>
